<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range .Data.Pages }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{ .Params.image | absURL }}" alt="{{ .Params.image_alt_text }}" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  <!-- the content summary will be stripped of HTML tags (e.g. embedded images) by the plainify function,
                                     and the htmlUnescape function will make sure that any of the special characters that were in HTML 
                                     tags (e.g. an apostrophe in a link) will appear correctly. -->
                                  {{ .Summary | htmlUnescape | plainify }}
                                {{ end }}
                            </p>
                            {{ if .Truncated }}
                              <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                              <p>
                                <a href="{{ .RelPermalink }}" class="readmore">Read More…</a>
                              </p>
                            {{end}}
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>

    <!-- Copyright/credits moved here from sidebar.html partial -->
    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>

  </div>

</div>